body{
    margin: 0;
    background-color: #056679;;
    font-family: sans-serif;
}

.todo-container{
    width: 350px;
    margin: auto;
    margin-top: 100px;
    text-align: center;

}
.input-section{
    background-color: #054856;;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #0000008e;
}
h1{
    margin: 0;
    margin-bottom: 15px;
    color: #aaa9a9a0;
}



.input-section input{
    border-radius: 10px;
    border: 1px solid gray;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #054856;
    outline: none;
    color: grey;
}
input::placeholder{
    color: gray;
}

ul{

    text-align: left;
    padding: 0;
    color: grey;
    

}
ul li{
    list-style: none;
    background-color: #054856;;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px #000000c9;
    display: flex;
}
ul li i{
    text-align: right;
    flex: 1;
    cursor: pointer;
}